table.b {

  border: 6px solid #ECE662;

  background-color: #04002E;

  width: 100%;

  text-align: center;

  border-collapse: collapse;

}

table.b td, table.b th {

  border: 1px solid #00AA97;

  padding: 3px 2px;

}

table.b tbody td {

  font-size: 13px;

}

table.b tr:nth-child(even) {

  background: #D0E4F5;

}

table.b thead {

  background: #1C6EA4;

  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);

  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);

  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);

  border-bottom: 2px solid #444444;

}

table.b thead th {

  font-size: 15px;

  font-weight: bold;

  color: #FFFFFF;

  text-align: center;

  border-left: 2px solid #D0E4F5;

}

table.b thead th:first-child {

  border-left: none;

}

table.b tfoot {

  font-size: 14px;

  font-weight: bold;

  color: #FFFFFF;

  background: #D0E4F5;

  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);

  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);

  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);

  border-top: 2px solid #444444;

}

table.b tfoot td {

  font-size: 14px;

}

table.b tfoot .links {

  text-align: right;

}

table.b tfoot .links a{

  display: inline-block;

  background: #1C6EA4;

  color: #FFFFFF;

  padding: 2px 8px;

  border-radius: 5px;

}
