table.b {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 3px solid #000000;
  background-color: #1A164A;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.b td, table.b th {
  border: 1px solid #B8D0C6;
  padding: 3px 3px;
}
table.b tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.b tr:nth-child(even) {
  background: #444988;
}
table.b thead {
  background: #02030D;
  border-bottom: 4px solid #B82020;
}
table.b thead th {
  font-size: 18px;
  font-weight: bold;
  color: #B7F10A;
  text-align: center;
  border-left: 2px solid #122DFF;
}
table.b thead th:first-child {
  border-left: none;
}

table.b tfoot td {
  font-size: 12px;
}
table.b tfoot .links {
  text-align: right;
}
table.b tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #4A4A4A;
  padding: 2px 8px;
  border-radius: 5px;
}
