table.b {
  border: 3px solid #000000;
  background-color: #1A164A;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.b td, table.b th {
  border: 1px solid #B8D0C6;
  padding: 3px 3px;
}
table.b tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.b tr:nth-child(even) {
  background: #444988;
}
table.b thead {
  background: #02030D;
  border-bottom: 4px solid #B82020;
}
table.b thead th {
  font-size: 18px;
  font-weight: bold;
  color: #B7F10A;
  text-align: center;
  border-left: 2px solid #122DFF;
}
table.b thead th:first-child {
  border-left: none;
}

table.b tfoot td {
  font-size: 12px;
}
table.b tfoot .links {
  text-align: right;
}
table.b tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #4A4A4A;
  padding: 2px 8px;
  border-radius: 5px;
}
table.m {

  border: 4px solid #129605;

  background-color: #555555;

  width: 350px;

  text-align: center;

  border-collapse: collapse;

}

table.m td, table.m th {

  border: 1px solid #555555;

  padding: 5px 2px;

}

table.m tbody td {

  font-size: 13px;

  font-weight: bold;

  color: #FFFFFF;

}

table.m tr:nth-child(even) {

  background: #CC3BFC;

}

table.m thead {

  background: #960005;

  border-bottom: 4px solid #792396;

}

table.m thead th {

  font-size: 21px;

  font-weight: bold;

  color: #FFFFFF;

  text-align: center;

  border-left: 2px solid #792396;
}
table.bn {

  border: 2px solid #1F1C5D;

  background-color: #122164;

  width: 100%;

  height: 200px;

  text-align: center;

  border-collapse: collapse;

}

table.bn td, table.bn th {

  border: 1px solid #9CC71C;

  padding: 3px 3px;

}

table.bn tbody td {

  font-size: 13px;

  color: #E6E6E6;

}

table.bn tr:nth-child(even) {

  background: #604F78;

}

table.bn thead {

  background: #000000;

  border-bottom: 3px solid #000000;

}

table.bn thead th {

  font-size: 20px;

  font-weight: bold;

  color: #D2E60F;

  text-align: center;

  border-left: 2px solid #4A4A4A;

}

table.bn thead th:first-child {

  border-left: none;

}

table.bn tfoot td {
  display: inline-block;

  background: #FFFFFF;

  color: #4A4A4A;

  padding: 2px 8px;

  border-radius: 5px;

}
